@charset "UTF-8";
.body{overflow-x: hidden; position: relative;}

.modal{
    position: absolute; left: 50%; top: 15em;
    background-color: white;
    box-shadow: 0 1px 1px gray;
    width: 32%;
    height: 15em;
    padding: 5px;
    transform: translate(-50%);
    z-index: 30;
    /* overflow: hidden !important; */
}

.text{
    width: 100%; height: 100%;
    padding: 30px;
    font-family: "Noto Sans KR", serif;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    /* border: 1px solid rgb(121, 73, 73); */
}
.text p{font-size: 20px;}
.modal .text .p_S{font-size: 30px; margin-bottom: 30px;}
.modal .text .p_s{font-size: 15px;}
.text p span{
    text-decoration: underline;
    color: blue;
}

.button a{
    position: absolute;
    right: 70px;
    top: 190px;
    background-color: rgb(170, 170, 170);
    color: white;
    font-size: 1em;
    width: 70px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
}

.modal_bg{
        background-color: rgba(0, 0, 0, 0.599);
        width: 100vw; height: 100%;
        position: absolute;
        left: 0; top: 0;
        z-index: 20; /* border: 1px red solid; */}

header{
    position: fixed;
    /* background-color: rgba(255, 255, 255, 0.268); */
    /* box-shadow: 0 0 5px rgb(150, 150, 150); */
    width: 100%;
    height: 80px;
    z-index: 10;
}

.logo{width: 100%; /* border: 1px solid red; */ height: 100%;}
.logo a{
    /* border: 1px solid red; */
    display: inline-block;
    padding: 0 10px;
    width: 10%;
    height: 100%;
    /* background: url("../images/logo.png") no-repeat; */
    /* text-indent: -9999px; */
}
.logo a i{background: url("../images/logo.png") no-repeat center;
    background-size: 60%;
    display: block; width: 100%; height: 100%;
    /* border: 1px solid red; */
    text-indent: -9999px;
}
.logo a.on{
    background-image: url("../images/logo_white.png");
}


/* h_1영역 */
.h_1{
    position: absolute;
    right: 50px;
    top: 11px;
    display: flex;
    justify-content: right;
    width: 200px;
    /* border: 1px red solid; */
}

.lang{
    display: flex;
    justify-content: space-between;
}
.lang li{}
.lang li a{
    display: inline-block;
    color: #333;
    font-family: "Noto Sans KR", serif;
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 10px;
}

.link{
    display: flex;
}
.link .link_img{
    background-image: url("../images/link_5340341.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0 ;
    text-indent: -9999px;
}
.link .link_name{
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    color: #333;
    font-size: 1.4em;
    height: 20px;
    line-height: 20px;
}

/* h_2영역 */
.h_2{
    position: absolute;
    right: 40px;
    top: 45px;
    display: flex;
    justify-content: space-between;
    /* margin-right: 50px; */
}

.sear a{
    /* border: 1px solid red; */
    display: block;
    background: url("../images/searchicon.png") no-repeat;
    background-size: 50%;
    background-position: center center;
    width: 2.5em;
    height: 2.5em;
    text-indent: -9999px;
    /* margin-right: 20px; */
}
.search_d{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    /* border: 1px solid red; */
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
.search{
    display: none;
    z-index: 101;
    position: absolute;
    left: 0;
    top: 100px;
    /* transform: translateX(-100%); */
    /* border: 1px solid red; */
    width: 100vw;
    /* display: flex; */
    justify-content: center;
}
.search input{
    border-radius: 8px;
    padding: 10px 12px;
    width: 500px;
    height: 50px;
    border: none;
}

.search_btn{border: none; background-color: transparent;}

.search_btn a{
    display: block;
    font-size: 1.5em;
    line-height: 50px;
    width: 60px;
    height: 50px;
    border-radius: 8px;
    color:#000;
    background-color: #fff;
    margin-left: 10px;
}

.my a{
    /* border: 1px solid red; */
    display: block;
    background: url("../images/usericon.png") no-repeat;
    background-size: 50%;
    background-position: center center;
    width: 2.5em;
    height: 2.5em;
    text-indent: -9999px;
    /* margin-right: 20px; */
}
.cate a{
    /* border: 1px solid red; */
    display: block;
    background: url("../images/menuiocn.png") no-repeat;
    background-size: 50%;
    background-position: center center;
    width: 2.5em;
    height: 2.5em;
    text-indent: -9999px;
}
/* menu */
.menu{
    position: absolute;
    width: 400px;
    height: 100vh;
    /* border: 1px red solid; */
    /* display: none; */
    right: -500px;
    top: 45px;
    transition: all 0.5s;
    background-color: #fff;
}
.menu.on{
    right: -100px;
}
.menu>li{
    left: 50%;
    top: 50%;
    width: 350px;
    padding: 20px;
    /* border: 1px rgb(141, 112, 112) solid; */
}
.menu>li>a{
    display: block; 
    font-size: 1.2em;
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px black solid;
    /* border: 1px red solid; */
}

.menu_list{}
.menu_list li{}
.menu_list li a{
    display: block;
    font-family: "Noto Sans KR", serif;
    font-size: 0.9em;
    margin : 0 0 10px 10px;
    /* border: 1px red solid; */
}

.menu_list li a:hover{
    color: #F95454;
    cursor: pointer;
}


.fullbg1{
    background: url(../images/paperair.svg) no-repeat;
    position: absolute; right: 100px; top: 100px;
    display: block; width: 150px; height: 150px;
    z-index: 10;
}
.fullbg2{
    background: url(../images/tree.svg) no-repeat center;
    position: absolute; left: 0; bottom: 0;
    width: 300px; height: 200px;
    display: block; z-index: 10;
}
.fullbg3{
    background: url(../images/waterfull.svg) no-repeat center;
    position: absolute; left: 0; bottom: 0;
    width: 250px; height: 200px;
    display: block; z-index: 10;
}
.fullbg4{
    background: url(../images/flower.svg) no-repeat center;
    position: absolute; right: 30px; top: 100px;
    width: 200px; height: 200px;
    display: block; z-index: 10;
}
.fullbg5{
    background: url(../images/duck.svg) no-repeat center;
    position: absolute; right: 80px; bottom: 100px;
    width: 150px; height: 150px;
    display: block; z-index: 10;
}
.fullbg6{
    background: url(../images/rocket.svg) no-repeat center;
    position: absolute; left: 80px; bottom: 0;
    width: 300px; height: 300px;
    display: block; z-index: 10;
}
.fullbg7{
    background: url(../images/star.svg) no-repeat center;
    position: absolute; right: 100px; top: 150px;
    width: 100px; height: 100px;
    display: block; z-index: 10;
}
.fullbg8{
    background: url(../images/bike.svg) no-repeat center;
    position: absolute; left: 50px; bottom: 30px;
    width: 250px; height: 250px;
    display: block; z-index: 10;
}
.fullbg9{
    background: url(../images/store.svg) no-repeat center;
    position: absolute; left: 80%; bottom: 0;
    width: 200px; height: 200px;
    display: block; z-index: 10;
}
.section{background-size: cover;}
#section01{position: relative; width: 100%; height: 100%;
    background-color: #F5F5F5;
}
#section01>h1{
    width: 100%;
}
#section01>h1>a{}

#section01>h2{
    position: absolute;
    left: 50%;
    top: 130px;
    font-size: 2.2em;
    font-family: "Noto Sans KR", serif;
    color: #555;
    transform: translateX(-50%);
    text-align: center;
}
.slide{}

/* sub영역 */
.sd_sub{
    border: 1px solid #555;
    width: 1300px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sd_sub li{
    border: 1px solid #333;
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sd_sub li span{
    align-self: flex-start;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
    color: #F95454;
    /* border: 1px solid red; */
    font-family: "Noto Sans KR", serif;
}

.sd_sub li a{
    text-indent: -9999px;
    /* border: 1px red solid; */
    display: inline-block;
    width: 250px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.sd_sub li a:hover{
    filter:brightness(90%);
}

.sd_sub1_1{
    background-image: url("../images/sd_sub1_1.jpg");
}
.sd_sub1_2{
    background-image: url("../images/sd_sub1_2.jpg");
}
.sd_sub1_3{
    background-image: url("../images/sd_sub1_3.jpg");
}
.sd_sub1_4{
    background-image: url("../images/sd_sub1_4.jpg");
}
.sd_sub1_5{
    background-image: url("../images/sd_sub1_5.jpg");
}
.sd_sub1_6{
    background-image: url("../images/sd_sub1_6.jpg");
}
.sd_sub1_7{
    background-image: url("../images/sd_sub1_7.jpg");
}
.sd_sub1_8{
    background-image: url("../images/sd_sub1_8.jpg");
}




#section02{
    width: 100%;
    background-color: #F5F5F5;
}
.slide2{}
#section02>h2{
    position: absolute;
    left: 50%;
    top: 130px;
    font-size: 2.2em;
    font-family: "Noto Sans KR", serif; color: #555;
    transform: translateX(-50%);
    text-align: center;
}
.title1{color: white;}


/* sub영역 */
.sd_sub2{
    /* border: 1px solid red; */
    background-color: rgba(255, 255, 255, 0.508);
    width: 1300px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sd_sub2 li{
    background-color: rgba(183, 183, 183, 0.23);
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sd_sub2 li span{
    /* display:block;
    text-align: left; */
    align-self: flex-start;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
    /* border: 1px solid red; */
    font-family: "Noto Sans KR", serif;
}



.sd_sub2 li a{
    text-indent: -9999px;
    /* border: 1px red solid; */
    display: inline-block;
    width: 250px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.sd_sub2 li a:hover{
    filter:brightness(90%);
}

.sd_sub2_1{
    background-image: url("../images/sd_sub2_1.jpg");
}
.sd_sub2_2{
    background-image: url("../images/sd_sub2_2.jpg");
}
.sd_sub2_3{
    background-image: url("../images/sd_sub2_3.jpg");
}
.sd_sub2_4{
    background-image: url("../images/sd_sub2_4.jpg");
}
.sd_sub2_5{
    background-image: url("../images/sd_sub2_5.jpg");
}
.sd_sub2_6{
    background-image: url("../images/sd_sub2_6.jpg");
}
.sd_sub2_7{
    background-image: url("../images/sd_sub2_7.jpg");
}
.sd_sub2_8{
    background-image: url("../images/sd_sub2_8.jpg");
}

#section03{position: relative; background-color: #F5F5F5;}

#section03>h2{
    position: absolute;
    left: 50%;
    top: 130px;
    font-size: 2.2em;
    font-family: "Noto Sans KR", serif; color: #555;
    transform: translateX(-50%);
    text-align: center;
}

.sd_sub3_1{
    background-image: url("../images/6_14_girl/sd_sub3_1.jpg");
}
.sd_sub3_2{
    background-image: url("../images/6_14_girl/sd_sub3_2.jpg");
}
.sd_sub3_3{
    background-image: url("../images/6_14_girl/sd_sub3_3.jpg");
}
.sd_sub3_4{
    background-image: url("../images/6_14_girl/sd_sub3_4.jpg");
}
.sd_sub3_5{
    background-image: url("../images/6_14_girl/sd_sub3_5.jpg");
}
.sd_sub3_6{
    background-image: url("../images/6_14_girl/sd_sub3_6.jpg");
}
.sd_sub3_7{
    background-image: url("../images/6_14_girl/sd_sub3_7.jpg");
}
.sd_sub3_8{background-image: url("../images/6_14_girl/sd_sub3_8.jpg");}


#section04{position: relative;  background-color: #F5F5F5;}

#section04>h2{
    position: absolute;
    left: 50%;
    top: 130px;
    font-size: 2.2em;
    font-family: "Noto Sans KR", serif; color: #555;
    transform: translateX(-50%);
    text-align: center;
}

.sd_sub4_1{
    background-image: url("../images/6_14_boy/sd_sub4_1.jpg");
}
.sd_sub4_2{
    background-image: url("../images/6_14_boy/sd_sub4_2.jpg");
}
.sd_sub4_3{
    background-image: url("../images/6_14_boy/sd_sub4_3.jpg");
}
.sd_sub4_4{
    background-image: url("../images/6_14_boy/sd_sub4_4.jpg");
}
.sd_sub4_5{
    background-image: url("../images/6_14_boy/sd_sub4_5.jpg");
}
.sd_sub4_6{
    background-image: url("../images/6_14_boy/sd_sub4_6.jpg");
}
.sd_sub4_7{
    background-image: url("../images/6_14_boy/sd_sub4_7.jpg");
}
.sd_sub4_8{background-image: url("../images/6_14_boy/sd_sub4_8.jpg");}

#section05{background-color: #F5F5F5; position: relative;}
#section05>h2{
    position: absolute;
    left: 50%;
    top: 130px;
    font-size: 2.2em;
    font-family: "Noto Sans KR", serif; color: #555;
    transform: translateX(-50%);
    text-align: center;
}
.sd_sub5_1{
    background-image: url("../images/baby/sd_sub5_1.jpg");
}
.sd_sub5_2{
    background-image: url("../images/baby/sd_sub5_2.jpg");
}
.sd_sub5_3{
    background-image: url("../images/baby/sd_sub5_3.jpg");
}
.sd_sub5_4{
    background-image: url("../images/baby/sd_sub5_4.jpg");
}
.sd_sub5_5{
    background-image: url("../images/baby/sd_sub5_5.jpg");
}
.sd_sub5_6{
    background-image: url("../images/baby/sd_sub5_6.jpg");
}
.sd_sub5_7{
    background-image: url("../images/baby/sd_sub5_7.jpg");
}
.sd_sub5_8{background-image: url("../images/baby/sd_sub5_8.jpg");}

#section06{
    background:url('../images/beautiful-flowers-field.jpg') no-repeat;
    background-size: cover;
}

#section06 h3{
    text-align: center;
    font-size: 1.7em; color: white;
    font-weight: 500; font-family: "Noto Sans KR", serif;
}
#section06 .news{
    color: white; font-family: "Noto Sans KR", serif;
    font-size: 1em; display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    margin: 50px auto 0;
}

.news li{width: calc(100% / 6);}
.news li a{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.news li a:hover{
    color: #000;
}