@charset "utf-8";

@media (max-width:450px){
    body{font-family: 'LeferiPoint-WhiteObliqueA';}
    
    /* 팝업영역 */


    /* 헤더영역 */
    header{width: 100%; height: 100%;
        display: flex; justify-content: space-between;
        box-shadow: 0 0 5px rgb(202, 202, 202);
    }
    .logo{padding: 10px;}
    .logo a{display: inline-block; background-image: url("../images/logo.png");
    background-repeat: no-repeat; width: 150px; height: 60px; text-indent: -9999px;
    background-size: contain; background-position: center center;
    margin-left: 10px;
    /* border: 1px solid red; */
    }

    /* h_total영역 */
    .h_total{width: 250px;}


    /* search영역 */
    .search{}

    /* h_2영역 */
    .h_2{display:flex; justify-content: right; margin-top: 15px;
        margin-right: 10px;}
    .sear{}
    .sear a{display: inline-block; background: url("../images/search.png") no-repeat center center;
    text-indent: -9999px; width: 3em; height: 3em;}
    .my{}
    .my a{display: inline-block; background: url("../images/my.png") no-repeat center center;
        text-indent: -9999px; width: 3em; height: 3em;}
    .cate{}
    .cate a{display: inline-block; background: url("../images/cate.png") no-repeat center center;
        text-indent: -9999px; width: 3em; height: 3em;}

    /* main영역 */

    .main1{width: 20em; height: 20em; /* border: solid  red 1px; */
            margin: 30px auto; position: relative;}
    .main1 a{display: block; }
    .main1 .txt_bg{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.318);
        width: 80px; height: 30px; border-radius: 5px;
        left: 10%; top: 60%;
    }
    .main1 .txt_bg::before{
        border-top: 10px solid rgba(0, 0, 0, 0.318);
        border-left: 0px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 0px solid transparent;
        content:"";
        position:absolute;
        top:8px;
        right:-15px;
    }
    .main1 .txt_bg p{font-size: 0.6em; font-size: 7.5px; text-align: center;
    margin: 6px 0; color: white; font-weight: 300;}
    .main1 .m_txt1{position: absolute; bottom: 30px; left: 50%; transform: translate(-50%);
    font-size: 1.2em; width: 100%;
    text-align: center; font-weight: bold;}
    .main1 .m_txt2{position: absolute; bottom: 12px; left: 0;
    font-size: 0.8em; text-align: center; width: 100%;}
    .main1 .main1_img{
        text-indent: -9999px;
        background: url("../images/스트라이프\ 자카드\ 원피스\ -\ Zara\ 터키블루.jpg") no-repeat center;
        width: 20em; height: 20em; background-size: 100%; /* border: 1px red solid; */
    }
    
    /* slick영역 */
    .slick .slick_img{width: 20em; margin: 0 auto;}
    .slick .slick_img li{}
    .slick .slick_img li a{display: block; width: 10em; height: 10em; text-indent: -9999px;}
    
    .slick-dots{position: absolute; top: 115%; left: 50%; transform: translate(-55%,-50%);
    }
    .slick-dots li{
        width: 0px; float: left; margin-right: 12px;}
    /* .slick-dots li:last-child{float: none;} */
    .slick-dots li button { background: #979797; width: 8px; height: 8px;  border-radius: 50%; border: none;  text-indent: -9999px;}
    .slick-dots li a{display: block; color: #fff; transition: all 0.3s;}
    .slick-dots li.slick-active button { background: rgb(69, 69, 69); }
    .s_img1{background: url("../images/320px/줄무늬티.jpg") no-repeat;}
    .s_img2{background: url("../images/320px/리본원피스.jpg") no-repeat;}
    .s_img3{background: url("../images/320px/수영복.jpg") no-repeat;}
    .s_img4{background: url("../images/320px/플라워셔츠.jpg") no-repeat;}
    .s_img5{background: url("../images/320px/포켓셔츠.jpg") no-repeat;}





    /* 메뉴영역 */
    .menu{width: 100%; background-color: #c9c9c9; margin-top: 40px;}
    .menu>li{padding: 0 30px; border-bottom: white 1px solid;}
    .menu>li>a{display: block; line-height: 3; font-weight: bold;}

    .menu_list{display: none;}
    .menu_list>li{padding: 10px;}
    .menu_list>li>a{font-size: 0.7em;}

    /* middle영역 */
    .middle{padding: 20px;}
    .middle_box{position: relative; background-color: #FFDA76;
    width: 100%; height: 10em; text-align: center; padding: 60px 0;}
    .middle_box .mi_txt1{font-size: 1.5em; font-weight: bold;}
    .middle_box .mi_txt2{font-size: 0.8em;}
    .middle_box .mi_img{background: url("../images/plus.png") no-repeat;
    width: 20px; height: 20px; text-indent: -9999px; background-size: 100%;
    position: absolute; right: 10px; top: 20px; 
    }



/* main2영역 */
.main2{width: 20em; height: 20em; /* border: solid  red 1px; */
    margin: 30px auto; position: relative;}
.main2 a{display: block; }
.main2 .txt_bg{
position: absolute;
background-color: rgba(0, 0, 0, 0.318);
width: 80px; height: 30px; border-radius: 5px;
right: 10%; top: 60%;
}
.main2 .txt_bg::after{
border-top: 15px solid t;
border-left: 15px solid transparent;
border-right: 15px solid rgba(0, 0, 0, 0.318);
border-bottom: 15px solid transparent;
content:"";
position:absolute;
top:8px;
left:-30px;
}
.main2 .txt_bg p{font-size: 0.6em; font-size: 7.5px; text-align: center;
margin: 6px 0; color: white; font-weight: 300;}
.main2 .m_txt1{position: absolute; bottom: 30px; left: 50%; transform: translate(-50%);
font-size: 1.2em; width: 100%;
text-align: center; font-weight: bold;}
.main2 .m_txt2{position: absolute; bottom: 12px; left: 0;
font-size: 0.8em; text-align: center; width: 100%;}
.main2 .main1_img{
text-indent: -9999px;
background: url("../images/TIMELESZ\ -\ 타월\ 점프수트\ -\ Zara\ 미디움\ 블루.jpg") no-repeat center;
width: 20em; height: 20em; background-size: 100%; /* border: 1px red solid; */
}


/* main3영역 */
.main3{width: 20em; height: 20em; /* border: solid  red 1px; */
    margin: 30px auto; position: relative;}
.main3 a{display: block; }
.main3 .txt_bg{
position: absolute;
background-color: rgba(0, 0, 0, 0.318);
width: 80px; height: 30px; border-radius: 5px;
left: 10%; top: 60%;
}
.main3 .txt_bg::after{
    border-top: 10px solid rgba(0, 0, 0, 0.318);
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:8px;
    right:-15px;
}
.main3 .txt_bg p{font-size: 0.6em; font-size: 7.5px; text-align: center;
margin: 6px 0; color: white; font-weight: 300;}
.main3 .m_txt1{position: absolute; bottom: 30px; left: 50%; transform: translate(-50%);
font-size: 1.2em; width: 100%;
text-align: center; font-weight: bold;}
.main3 .m_txt2{position: absolute; bottom: 12px; left: 0;
font-size: 0.8em; text-align: center; width: 100%;}
.main3 .main1_img{
text-indent: -9999px;
background: url("../images/MINNIE\ ©\ DISNEY\ T-SHIRT\ AND\ SHORT\ LEGGINGS\ CO-ORD_y.jpg") no-repeat center;
width: 20em; height: 20em; background-size: 100%; /* border: 1px red solid; */
}

/* low_box영역 */
.low_box{text-align: center; padding: 0 40px;}
.low_box .low_txt1{font-size: 2rem; font-weight: bold;}
.low_box .low_txt2{font-size: 0.8rem;}
.low_box a{display: inline-block; font-size: 0.6rem; font-weight: bold;}


/* footer영역 */
#footer{
    background-color: #e7e7e7; width: 100%;
    margin-top: 60px; text-align: center;
    padding: 40px 30px;
}

#footer>p{font-size: 0.5rem; margin-top: 40px;}

.ft_txt1{margin-bottom: 60px; position: relative;}
.ft_txt1_1{display: block; font-weight: bold; font-size: 1.2rem;}
.ft_txt1_2{display: block; font-size: 0.7rem; margin-top: 10px;}
.ft_txt1_3{display: block; font-size: 0.9rem; margin-top: 10px;}
.ft_txt1>span>a{background: url("../images/arrow.png") no-repeat; background-size: 100%;
width: 15px; height: 15px; display: block; /* border: 1px red solid; */ text-indent: -9999px;
position: absolute; left: 230px; top: 62px;}

/* ft_sns영역 */
.ft_sns{}
.ft_sns ul{display: flex; width: 100%; justify-content: space-around;}
.ft_sns ul li{}
.ft_sns ul li a{display: inline-block; width: 10vw; height: 10vh;
text-indent: -9999px;}

.ft_sns_1{background: url("../images/insta.png")no-repeat;}
.ft_sns_2{background: url("../images/youtube.png")no-repeat;}
.ft_sns_3{background: url("../images/naver.png")no-repeat;}
.ft_sns_4{background: url("../images/talk.png")no-repeat;}

/* ft_content 영역 */
.ft_content{width: 100%; margin-top: 50px;}
.ft_content li{display: block; font-size: 0.6rem;
font-size: 0.6rem; margin-top: 5px;}



.ft_logo{display: inline-block; background: url("../images/logo.png") no-repeat;
width: 15vw; height: 25px; background-size: 100%; text-indent: -9999px;
margin: 10px auto; cursor: pointer;}
}


/* 팝업영역 */
.search_d{
    background-color: rgb(255, 255, 255); width: 100%; height: 80px;
    z-index: 100; position: absolute;
}
.search{
    display: flex;
    z-index: 101; position: absolute; left: 50%; top: 20px; transform: translate(-50%);}
.search div{
    position: absolute; left: 10px; top: 8px;
    background: url("../images/search.png") no-repeat; width: 25px; height: 25px;
    background-size: 100%; text-indent: -9999px;}
.search input{width: 75vw; height: 40px; border: none; background-color: #e7e7e7;}
.search_btn{border: none; margin-left: 5px; background-color: white;}
.search_btn a{display: inline-block;
    background: url("../images/close.png") no-repeat; width: 30px; height: 30px; text-indent: -9999px;
    background-size: 100%; margin-left: 10px;}
/* .search_btn a{display: inline-block; color: rgb(255, 255, 255); border-radius: 10%;
width: 12vw; height: 40px; line-height: 3; text-align: center; background-color: rgb(137, 137, 137);} */

.popup{position: absolute; z-index: 200;  width: 100%; height: 100vh; z-index: 200;
    font-family: 'GmarketSansMedium';}
.popup .pop_bg{width: 100%; height: 100vh; background-color: rgba(164, 164, 164, 0.382); z-index: 201; position: absolute;} 
.popup .pop_txt{position: absolute; left: 15%; top: 250px;
width: 250px; height: 150px; background-color: white;
padding: 10px; z-index: 202;}
.popup .pop_txt h2{text-align: center; font-size: 16px;margin-top: 24px; margin-bottom: 15px; font-weight: bold;}
.popup .pop_txt p{text-align: center; font-size: 9px; margin-top: 5px; letter-spacing: 2px;}
.popup .pop_txt p span{color: red; font-weight: bold; text-decoration: underline;}
.pop_close a{
    position: absolute; z-index: 300;
    left: 280px; top: 260px;
    display: block; width: 15px; height: 15px;
    cursor: pointer; background: url("../images/close.png") no-repeat;
    background-size: 100%;
}