@charset "UTF-8";
html,body{font-family: "Noto Sans KR", serif; overflow: hidden !important; height: 100%;}
*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul, li{list-style: none;}
img{vertical-align: baseline;}
table{border-collapse: collapse;}

input{border: 2px solid #7f7373; color: #666; border-radius: 4px;}
input::-webkit-input-placeholder{
    color: #666;
}
input::-moz-input-placeholder{
    color: #666;
}


@font-face {
    font-family: "Noto Sans KR", serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
    font-style: normal;
}
